# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
.DS_Store

# Ignore logs and database files
*.log
*.sqlite3
*.db

# Ignore environment variables and credentials
.env
*.secret

# Ignore compiled and temporary files
*.egg
*.egg-info/
dist/
build/

# Ignore Excel working files
**/~$*.xlsx

# Ignore data files, might need to enable later
data/*
!data/.gitignore
output/*
!output/.gitignore

# Ignore WIP files
/sdm_code/work_in_progress
